:root {
  --gradient-one: rgba(228,162,174,1);
  --gradient-two: rgba(241,193,121,1);
  --github-button: #EBEAEA;
}

@font-face {
    font-family: 'Rubik Light Light';
    src: url('/static/fonts/Rubik-VariableFont_wght.ttf');
}

* {
    color: #143138;
    font-family: 'Rubik Light Light';
}

body {
    background-color: #E6E6E6;
}

.profile-card,
.main-nav {
    background: linear-gradient(135deg, var(--gradient-one), var(--gradient-two));
}

.popupLoader{
    border-color: #545454 rgba(0, 0, 0, 0) #545454 rgba(0, 0, 0, 0)!important;
}

.profile-card-image{
    max-width: 150px;
    max-height: 130px;
    border-radius: 10px;
}

.btn-github
{
    color: var(--github-button);
}

.btn-outline-secondary > i {
    color: var(--bs-btn-color);
}

.btn:hover > i {
    color: var(--bs-btn-hover-color);
}